$index-1: 100;
$index-2: 200;
$index-3: 300;
$index-4: 400;
$index-5: 500;
$index-6: 600;
$index-7: 700;
$index-8: 800;
$index-9: 900;
$index-10: 1000;

$background-blue: #B1D8FF;

html{
	background: $background-blue;
}

h1,h2,h3,h4{
	font-family: "Playfair Display";
	font-weight: 700;
}
h2{
	font-size: 6em;
	font-weight: 700;
	&.header--center{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}
h3{
	font-size: 4em
}