$nav-bar-colour: #C4C4C4;
$nav-bar-colour--hover: #ACACAC;
$nav-bar-colour-bg: #FFF;
$nav-bacground-colour: #5E9CD9;

nav{
	position: fixed;
	top: 50%;
	right:0;
	width: 50%;
	text-align: center;
	transform: translateY(-50%);
	display: none;
	transition: opacity .25s;
	z-index: $index-1+1;
	&.open{
		display: block;
		animation: nav-menu 1s;
	}
	a{
		text-decoration: none;
		color: rgba(0,0,0,0.6);
		transition: color .5s, font-size .5s;;
		&:hover{
			color: rgba(0,0,0,1);
			transition: color .5s, font-size .5s;
			font-size: 1.2em;
		}
	}
}

@keyframes nav-menu{
	0%{
		z-index: $index-2;
		opacity: 0;
	}
	20%{
		opacity: 0;
		transform: translateY(-60%);
	}
	100%{
		opacity: 1;
		transform: translateY(-50%);
	}
}

#nav-button{
	z-index: $index-2;
	display: block;
	position: fixed;
	top: 30px;
	right: 30px;
	height: 64px;
	width: 64px;
	background: $nav-bar-colour-bg;
	border-radius: 100%;
	cursor: pointer;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.05);
	transition: .25s ease-in-out;

	&:hover #nav-icon span{
		background: $nav-bar-colour--hover;
	}
}

#nav-icon{
	display: block;
	position: absolute;
	width: 24px;
	height: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	$top-bar-position: 0;
	$mid-bar-position: 8px;
	$bottom-bar-position: 16px;

	input{
		display: none;
	}
	span{
		display: block;
		position: absolute;
		height: 4px;
		width: 24px;
		background: $nav-bar-colour;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}
	span:nth-child(2){
		top: 0;
	}
	span:nth-child(3),
	span:nth-child(4){
		top: $mid-bar-position;
	}
	span:nth-child(5){
		top: $bottom-bar-position;
	}

	input:checked ~ span:nth-child(2),
	input:checked ~ span:nth-child(5){
		top: $mid-bar-position;
		width: 0;
		left: 50%;
	}
	input:checked ~ span:nth-child(3){
		transform: rotate(45deg);
	}
	input:checked ~ span:nth-child(4){
		transform: rotate(-45deg);
	}
}

.nav--background{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0vh;
	width: 100%;
	background: $nav-bacground-colour;
	&.open{
		animation: nav-open .5s;
		height: 100vh;
		z-index: $index-1;
	}
}
.nav--foreground{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0vh;
	width: 100%;
	background: $background-blue;
	&.close{
		opacity: 0;
		animation: nav-close 1s;
		height: 100vh;
		z-index: $index-1;
	}
}

@keyframes nav-open{
	0%{
		z-index: $index-2;
		height: 0vh;
		border-radius: 50%/0px 0px 0% 0%;
		left: 50%;
		width: 120%;
		transform: translateX(-50%);
	}
	50%{
		border-radius: 50%/0px 0px 50% 50%;
	}
	100%{
		height: 120vh;
		border-radius: 50%/0px 0px 0% 0%;
	}
}
@keyframes nav-close{
	0%{
		z-index: $index-2;
		height: 0vh;
		border-radius: 50%/0px 0px 0% 0%;
		left: 50%;
		width: 120%;
		transform: translateX(-50%);
		opacity: 1;
	}
	25%{
		border-radius: 50%/0px 0px 50% 50%;
	}
	50%{
		height: 110vh;
		border-radius: 50%/0px 0px 0% 0%;
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}